header{
  background-color: #38FF92;
  height: 150px;
  padding: 10px;
}

.name{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

h2{
  font-size: 25px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 3px white;
}

img{
  height: 500px;
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: solid;
}

body{
  background-color: #45FDFF;
}

.portfolio{
  text-align: center;
  display: block;
  font-size: 20px;
  margin: auto;
}

.links-container{
  display: flex;
  justify-content: center;
  padding: 20px;
}

a{
  font-family: 'Gothic A1', sans-serif;
  color: #A52A2A;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 2px 2px white;
}

a:hover{
  border: none;
  border-bottom: 5px solid #FF8429;
  transition: border 0.5s ease;
}
